@model IEnumerable<Students_CRUD.Models.Notes>

@{
    ViewBag.Title = "Notas";
}

    <h2>Notas de los alumnos</h2>

<p>
    @Html.ActionLink("Create New", "Create", routeValues: null, htmlAttributes: new { @class = "btn btn-primary" })
</p>
<table class="table">
    <tr class="btn-info">
        <th>
            Examen 1
        </th>
        <th>
            Tarea ex-aula
        </th>
        <th>
           Examen 2
        </th>
        <th>
            Promedio
        </th>
        <th>
            Estudiante
        </th>
        <th>
            Materia
        </th>
        <th>Acciones</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.exam1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.homework)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.exam2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.avg)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Student.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Subject.name)
        </td>
        <td>
           
            @Html.ActionLink(" ", "Edit", new {  id=item.id  }, htmlAttributes: new { @class = "glyphicon glyphicon-pencil" })
            @Html.ActionLink(" ", "Details", new { id=item.id }, htmlAttributes: new { @class = "glyphicon glyphicon-eye-open" }) |
            @Html.ActionLink(" ", "Delete", new {  id=item.id  },htmlAttributes :new { @class = "glyphicon glyphicon-trash fdelete" })
        </td>
    </tr>
}

</table>
